img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  text-align: center;
  width: 80%;
}

ion-card:hover {
  background-color: #e4e4e4;
}

h2 {
  text-align: center;
}

ion-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}