<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Europe Geo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Europe Geo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card [routerLink]="['/facts-europe']">
    <img src="./assets/Europe.svg" height="180">
    <ion-card-header>
      <ion-card-title>Facts about Europe</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-card [routerLink]="['/quiz-europe']">
    <img src="./assets/Europe.svg" height="180">
    <ion-card-header>
      <ion-card-title>Quiz about Europe</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <br><br><br><br><br> <!-- stop cut off end of page when scrolling -->
</ion-content>
